img {

	padding-left: 500px;
}

h1 {

	padding-left: 325px;
}

@media only screen and (max-width: 629px) {
  #vrview {
    max-width: none ;
    margin-top: calc((202px - 42px)/2) ;
    transform: rotate(270deg);
  }